.loading {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "Barlow", sans-serif; 
}


.home, .login, .signup, .shareSite, .preview-site, .my-sites, .find-sites, .results, .message, .message-board {
    background-color: #574F44;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif; 
}

.home::after, .login::after, .signup::after, .shareSite::after, .loading::after,  .my-sites::after, .find-sites::after, .results::after, .message::after, .message-board::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

/* LOADING PAGE */
.loading::after {
    opacity: 0.8;
    background-image: url("./images/Fire-left.gif");
}

/* HOME PAGE */
.home::after {
    opacity: 0.8;
    background-image: url("./images/lighted-tents-night-sky.jpg");
}
.homeText {
    font-family: 'Barlow', sans-serif ;
}
@media screen and (min-width: 738px) {
    .home-pic {
        width: 40%;
    }
}

/* LOGIN PAGE */
.login::after {
    opacity: 0.8;
    background-image: url("./images/single-tent-desert.jpg");
}
@media screen and (min-width: 738px) {
    .login-form {
        width: 30%;
    }
}
@media screen and (max-width: 737px) {
    .login-form {
        width: 100%;
    }
}

/* SIGNUP PAGE */
.signup::after {
    opacity: 0.8;
    background-image: url("./images/solo-tent-sunset.jpg")
}
@media screen and (min-width: 738px) {
    .signup-form {
        width: 30%;
    }
}
@media screen and (max-width: 737px) {
    .signup-form {
        width: 100%;
    }
}

/* MENU PAGE */
.menu {
    /* background-color: rgb(255, 248, 213); */
    background-color: #574F44;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif; 
}

.menuTop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
}

.menuTop::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    background-image: url("./images/single-tent-campsite.jpg")
}

.menuBottom {
    position: fixed;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 50%;
}

.menuBottom::after {
    content: "";
    position: fixed;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 50%;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    background-image: url("./images/two-red-tents-short.jpg")
}


/* SHARE SITE */
.shareSite::after {
    opacity: 0.5;
    background-image: url("./images/vertical-single-tent-yellow-trees.jpg")
}

/* PREVIEW SHARED SITE */
.topImage {
    height: 35%;
    background-size: 100%;
}

/* MY SITES */
.my-sites::after {
    opacity: 0.8;
    background-image: url("./images/tents-on-beach.jpg")
}

/* FIND SITES */
.find-sites::after {
    opacity: 0.8;
    background-image: url("./images/many-tents-night.jpg")
}

/* RESULTS PAGE */
.results::after {
    opacity: 0.5;
    background-image: url("./images/single-green-tent-clouds.jpg")
}

/* MESSAGE PAGE */
.message::after {
    opacity: 0.8;
    background-image: url("./images/orange-tent-cloudy.jpg")
}

/* MESSAGE BOARD PAGE */
.message-board::after {
    opacity: 0.8;
    background-image: url("./images/yellow-tent-person.jpg")
}