.home, .login, .signup {
    background-color: #574F44;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif; 
}

.home::after, .login::after, .signup::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

.home::after {
    background-image: url("./images/lighted-tents-night-sky.jpg");
}

.login::after {
    background-image: url("./images/single-tent-desert.jpg");
}

.signup::after {
    background-image: url("./images/solo-tent-sunset.jpg")
}

.homeText {
    font-family: 'Barlow', sans-serif ;
}